accelerate==1.0.1
boto3==1.35.36
botocore==1.35.36
evaluate==0.4.3
fsspec==2024.6.1
s3fs==2024.6.1
sentencepiece==0.2.0
scikit-learn==1.5.2
python-slugify==8.0.4
tensorboardX==2.6.2.2
transformers==4.45.2